packages/
RSGit/bin/Debug/lib/linux/x86_64/libgit2-dd2d538.so
RSGit/bin/Debug/lib/osx/libgit2-dd2d538.dylib
RSGit/bin/Debug/lib/win32/x64/git2-dd2d538.dll
RSGit/bin/Debug/lib/win32/x64/git2-dd2d538.pdb
RSGit/bin/Debug/lib/win32/x86/git2-dd2d538.dll
RSGit/bin/Debug/lib/win32/x86/git2-dd2d538.pdb
RSGit/bin/Debug/LibGit2Sharp.dll
RSGit/bin/Debug/LibGit2Sharp.dll.config
*.pdb
RSGit/bin/Debug/LibGit2Sharp.xml
RSGit/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
RSGit/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
RSGit/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGit/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
RSGit/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RSGit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RSGit/obj/Debug/RSGit.csproj.AssemblyReference.cache
RSGit/obj/Debug/RSGit.csproj.CoreCompileInputs.cache
RSGit/obj/Debug/RSGit.csproj.FileListAbsolute.txt
RSGit/obj/Debug/RSGit.csproj.Up2Date
RSGit/obj/Debug/RSGit.exe
RSGit/obj/Debug/RSGit.dll
RSGitClient/bin/Debug/lib/linux/x86_64/libgit2-dd2d538.so
RSGitClient/bin/Debug/lib/osx/libgit2-dd2d538.dylib
RSGitClient/bin/Debug/lib/win32/x64/git2-dd2d538.dll
RSGitClient/bin/Debug/lib/win32/x86/git2-dd2d538.dll
RSGitClient/bin/Debug/LibGit2Sharp.dll.config
RSGitClient/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGitClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RSGitClient/obj/Debug/RSGitCli.2A3E9F1D.Up2Date
RSGitClient/obj/Debug/RSGitClient.csproj.AssemblyReference.cache
RSGitClient/obj/Debug/RSGitClient.csproj.CoreCompileInputs.cache
RSGitClient/obj/Debug/RSGitClient.csproj.FileListAbsolute.txt
RSGitClient/obj/Debug/RSGitClient.exe
RSGitServer/bin/Debug/lib/linux/x86_64/libgit2-dd2d538.so
RSGitServer/bin/Debug/lib/osx/libgit2-dd2d538.dylib
RSGitServer/bin/Debug/lib/win32/x64/git2-dd2d538.dll
RSGitServer/bin/Debug/lib/win32/x86/git2-dd2d538.dll
RSGitServer/bin/Debug/LibGit2Sharp.dll.config
RSGitServer/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGitServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RSGitServer/obj/Debug/RSGitSer.6276F85C.Up2Date
RSGitServer/obj/Debug/RSGitServer.csproj.AssemblyReference.cache
RSGitServer/obj/Debug/RSGitServer.csproj.CoreCompileInputs.cache
RSGitServer/obj/Debug/RSGitServer.csproj.FileListAbsolute.txt
RSGitServer/obj/Debug/RSGitServer.exe
RSGitClient/bin/Debug/pylib1/client/9c09e118-401c-420b-8190-45604e44416f/a.txt
RSGitClient/bin/Debug/pylib1/client/9c09e118-401c-420b-8190-45604e44416f/b.txt
RSGitClient/bin/Debug/pylib1/client/d3bf0c1e-4e7d-4aa3-8a23-b84f83991ef8/a.txt
RSGitClient/bin/Debug/pylib1/client/d3bf0c1e-4e7d-4aa3-8a23-b84f83991ef8/b.txt
RSGitServer/obj/Release/RSGitServer.exe
RSGitServer/obj/Release/RSGitServer.csproj.CoreCompileInputs.cache
RSGitServer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
RSGitServer/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGitServer/obj/Release/RSGitServer.csproj.AssemblyReference.cache
RSGitServer/obj/Release/RSGitServer.csproj.FileListAbsolute.txt
RSGitClient/obj/Debug/build.force
RSGitClient/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGitClient/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
RSGitClient/obj/Release/RSGitClient.csproj.AssemblyReference.cache
RSGitClient/obj/Release/RSGitClient.csproj.CoreCompileInputs.cache
RSGitClient/obj/Release/RSGitClient.csproj.FileListAbsolute.txt
RSGitClient/obj/Release/RSGitClient.exe
RSGit/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
RSGit/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
RSGit/obj/Release/RSGit.csproj.AssemblyReference.cache
RSGit/obj/Release/RSGit.csproj.CoreCompileInputs.cache
RSGit/obj/Release/RSGit.csproj.FileListAbsolute.txt
RSGit/obj/Release/RSGit.dll
Bin/lib/linux/x86_64/libgit2-dd2d538.so
Bin/lib/osx/libgit2-dd2d538.dylib
Bin/lib/win32/x64/git2-dd2d538.dll
Bin/lib/win32/x86/git2-dd2d538.dll
RSGitClient/obj/Release/build.force
RSGitServer/obj/Debug/build.force
RSGitServer/obj/Release/build.force
.vs/RS_GitServer/FileContentIndex/ce94bd7d-7238-4a01-abba-096ad570fcfa.vsidx
